 /*Reseteando los estilos*/
 * {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     box-sizing: border-box;
 }


/*Creamos clases reutilizables*/

.uppercase {
    text-transform: uppercase;
}

 /*Diseñando la cabecera*/
 header {
    height: 534px;
    background-image: url("../assets/images/hero.gif");
    background-size: 100% 534px;

    
 }
  /*Diseñando la barra de navegación*/
 .nav {
     color: white;
     height:115px ;
     
 }
 .nav figure img {
     width: 60px;

 } 
 .nav figure {
     display: inline-block;
     margin-left: 5%;
     margin-top: 2%;
 }

 .nav ul {
      
     float: right;
     margin-top: 2%;
     margin-right: 12%; 

 }
 .nav ul li {
     list-style: none;
     display: inline-block;
     padding: 17px;
 }

 
 #log-in {
     border: 1px solid white;
     border-radius: 13%;
     padding: 7px 14px;
 }

 /*Diseñando formulario*/
 .group-input {
    background:white;
    float: right;
    width: 560px;
    height: 422px;
    color: #728099;
    padding: 52px;
    margin-top: -3px;
    
}

.group-input form {
    
    margin-top: 6%;
}

.group-input form input{
    border: none;
    font-size: 19px;
    border-bottom: 1px solid gray;
    width: 455px;
    padding-bottom: 14px;
    outline: none;

}
.group-input form button{
    border: none;
    background: #FF00BF;
    color: white;
    padding: 18px 42px;
    border-radius: 11px;
    margin-top: 45px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}

.group-input form a {
    color: gray;
    font-size: 19px;
}

.group-input p {
    font-size: 10px;
    line-height: 2;
    margin-top: 14px;
}

#pink {
    color: #FF00BF;
}
/*transform: translateX(50%);*/

/*Dando estilo a la Primera seccion*/

.firts-section {
    height:700px ;  
    background: linear-gradient(rgb(100, 24, 131), #2B1E66);
    color: white;
    overflow: auto;
}

.firts-section article {
    float: left;
    width: 491px;
    margin-left: 102px;
    margin-top: 78px;

}
.firts-section article p{
    line-height: 2;
    padding-top: 7px;
    padding-bottom: 78px;
    font-size: 18px;
    padding-right: 15px;
}
.firts-section figure {
    float: right;
    width: 47%;
}

.firts-section figure img {
    width: 475px;
    height: 542px;
    margin-top: 48px;
}


/*Dando estilo a la Segunda y cuarta seccion*/

.seFou-section {
   
    height:508px;

}

.seFou-section article{
    width: 35%;
    float: left;
    margin-top: 1%;
    padding-left: 5%;
}

.seFou-section iframe {
    float: right;
    width:65%;
    height:508px ;
}

.desctiption p {
    padding-top: 15px;
    padding-bottom: 22px;
}

/*Diseñando la tercera seccion*/

.tree-section {
     height:508px ;
 }
 
 .tree-section article{
     width: 35%;
     float: right;
     margin-top: 1%;
     padding-left: 5%;
 }
 
 .tree-section iframe {
     float: left;
     width:65%;
     height:508px ;
 }
 
 .desctiption-two p {
     margin-top: 6%;
 }

 /*Diseñando el pie de página*/

 footer {
    background: #333447;
    overflow: auto;
    height: 570px;
    display: inline-block;
    width: 100%;
    color: white;

 }

 .first-footer{
    margin-top: 40px;
    height: 265px;

 }

 .first-footer  div ul li{
  list-style: none;

 }
 
 .first-footer div ul .uppercase{
 font-weight: bold;
 font-size: 20px;
 }

 .first-footer figure img {
    width: 159px;
    height: 57px;
    margin-bottom: 15px;
 }
 .first-footer figure{
    float: right;
    margin-right: 101px;
    width: 20%;
    margin-top: 39px;
 }
.first-footer div {
    float: left;
    width: 20%;
    line-height: 3;
    margin-left: 50px;

}
.second-footer .icons{
    margin-top: 67px;
    text-align: center;
    font-size: 15px;   
    margin-bottom: 65px;

}
 #face{
    padding: 17px 21px;
}

.second-footer .icons span{
    margin-right: 101px;
    border: 2px solid;
    border-radius: 26px;
    padding: 17px 17px;
}
.second-footer p{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}